In [1]:
import pymysql
pymysql.install_as_MySQLdb()
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
connection = "mysql+pymysql://root:root@localhost/sakila"

In [4]:
engine = create_engine(connection)

In [5]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [6]:
#1. What query would you run to get all the customers inside city_id = 312? 
# Your query should return the customers' first name, last name, email, address, and city. 
q = """
select first_name, last_name, email, address, city from customer as c
join address as a on c.address_id = a.address_id
join city on city.city_id = a.city_id
where a.city_id = 312;"""
pd.read_sql(q, engine)

,first_name,last_name,email,address,city
0,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive,London
1,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street,London